# Default ignored files
/shelf/
/workspace.xml
.Rproj.user/
.Rhistory
.DS_Store
.idea/
data/
processed_data/
edgeoparser_output/
edgeoparser_raw_txt/
edinburg_geoparser/
rosm.cache/
plots/
Project_Presentation.pptx
irchel_geoparser_output/
edgeoparser_output_pre_cleaned/
interim-layout.docx
result/
poetry.lock
~$interim-layout.docx